<h1>Hi</h1>

<form >

<p>You typed the following in to the form:</p>

<dl>
  <dt>Sign</dt>
  <dt><%= @sign %></dt>

  <dt>Creature</dt>
  <dt><%= @creature %></dt>

  <dt>Fortune</dt>
  <dt> <%= @horoscope %></dt>

</dl>

</form>
