<h1>HI</h1>
<form action="http://localhost:3000/create_zodiac">
<div>
  <label>Sign</label>
  <input name = "sign" type = "text">
  </div>
<div>
  <label>Creature</label>
  <input name = "creature" type = "text">
  </div>
<div>
  <label>Fortune</label>
  <textarea name = "horoscope"></textarea>
</div>
<button>Submit</button>

</form>

